<app-sidebar></app-sidebar>

<div class="container">
  <div style="margin-top: 50px;margin-left: 50px">
    <button (click)="toggleProject()" class="btn btn-primary pull-right">
      Close
    </button>
  </div>
  <br />

  <div style="margin-left: 70px">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="PROJECT">
        <div class="col-md-8 mt-4 bg-primary text-light ">
          <div class="p-2">
            Project Name &nbsp; <i>{{ projectInfo.projectName }}</i
            ><br />
            Project Description &nbsp;
            <i> {{ projectInfo.projectDescription }}</i>
            <br />
            KEY &nbsp;<i>{{ projectInfo.projectKey }}</i>
          </div>
        </div>
        <div class="col-md-8 mt-4 bg-success">
          <div class="p-2">
            <h5 class="text-light">Your SCRUM Roles</h5>

            <p *ngFor="let role of userRoles" class="noteAlt ">
              <li *ngIf="userRoles.length === 0">
                You have not been assigned any role yet
              </li>
              <li *ngIf="role.scrumRolesId === 1">Product Owner</li>
              <li *ngIf="role.scrumRolesId === 2">SCRUM Master</li>
              <li *ngIf="role.scrumRolesId === 3">Developer</li>
            </p>
          </div>
        </div>
        <div class="col-md-8 mt-4">
          <p class="noteAlt">
            NOTE<br />
            If you have not been assigned any role, You will be able to just
            view the project artifacts and not be able to update or delete any.
            Roles are assigned by Project owner
          </p>
        </div>
      </mat-tab>
      <mat-tab label="STORIES">
        <mat-spinner
          style="margin-left: 40%;margin-top: 10%"
          *ngIf="spinnerCheck === true"
          color="warn"
        ></mat-spinner>
        <collapsible-list *ngIf="spinnerCheck === false" [type]="'accordion'">
          <collapsible-list-item *ngFor="let story of projectStories">
            <collapsible-header class="waves-effect">
              <div class="row">
                <div class="col-md-1">
                  <span *ngIf="story.priorityId === 1" style="color: red"
                    >&#8593;</span
                  >
                  <span *ngIf="story.priorityId === 2" style="color: yellow"
                    >&#8593;</span
                  >
                  <span *ngIf="story.priorityId === 3" style="color: green"
                    >&#8593;</span
                  >
                </div>
                <div class="col-md-3">{{ story.storyName }}</div>
                <div class="col-md-6">
                  <small>
                    {{ story.storyDescription }}
                  </small>
                </div>
                <div class="col-md-2">
                  <span *ngIf="story.epic === null" class="badge badge-danger"
                    >Not Assigned</span
                  >
                  <span *ngIf="story.epic !== null" class="badge badge-primary">
                    {{ story.epic.epicName }}
                  </span>
                </div>
              </div>
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <div class="row">
                <div class="col-md-5">
                  Acceptance Criteria :<br />
                  <i *ngIf="story.acceptanceCriteria === null">Not Provided</i>
                  <small *ngIf="story.acceptanceCriteria !== null">
                    {{ story.acceptanceCriteria }}
                  </small>
                </div>
                <div class="col-md-4">
                  Assigned To :<br />
                  <small *ngIf="story.user === null"
                    ><i>Not Assigned to developer</i></small
                  >
                  <img
                    *ngIf="story.user !== null"
                    height="26px"
                    width="26px"
                    src="https://img.icons8.com/ultraviolet/40/000000/user.png"
                  /><small *ngIf="story.user !== null"
                    >{{ story.user.firstName }}{{ space }}
                    {{ story.user.lastName }}</small
                  >
                  <small>
                    (<i *ngIf="story.user !== null"
                      ><a href="#"> {{ story.user.userName }}</a></i
                    >)
                  </small>
                </div>
                <div class="col-md-3">
                  Sprint :
                  <p *ngIf="story.sprint !== null">
                    {{ story.sprint.sprintName }}
                  </p>
                  <p *ngIf="story.sprint === null">
                    <small><i>Not Added to any Sprint</i></small>
                  </p>
                </div>
              </div>
              <div *ngIf="isProductOwner === true" class="row">
                <div class="col-md-6">
                  <button
                    (click)="Edit(story.id)"
                    mat-raised-button
                    color="Primary"
                  >
                    Edit</button
                  >&nbsp;
                  <button
                    (click)="Delete(story.id)"
                    mat-raised-button
                    color="warn"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </collapsible-body>
          </collapsible-list-item>
        </collapsible-list>
      </mat-tab>
      <mat-tab label="SPRINTS">
        <mat-spinner
          style="margin-left: 40%;margin-top: 10%"
          *ngIf="spinnerCheck === true"
          color="warn"
        ></mat-spinner>
        <collapsible-list *ngIf="spinnerCheck === false" [type]="'accordion'">
          <collapsible-list-item *ngFor="let sprint of sprints">
            <collapsible-header class="waves-effect">
              <div class="row">
                <div class="col-md-2">{{ sprint.sprintName }}</div>
                <div class="col-md-3">
                  <small> Starts:</small>
                  <small *ngIf="sprint.startDate === undefined"
                    >Not yet Specified</small
                  >
                  <small *ngIf="sprint.startDate !== undefined">
                    {{ sprint.startDate | date: 'dd/MMM/yyyy HH:mm:SS' }}</small
                  >
                </div>
                <div class="col-md-3">
                  <small> Ends:</small>
                  <small *ngIf="sprint.endDate === undefined"
                    >Not yet Specified</small
                  >
                  <small *ngIf="sprint.endDate !== undefined">
                    {{ sprint.endDate | date: 'dd/MMM/yyyy HH:mm:SS' }}</small
                  >
                </div>
                <div class="col-md-3">
                  <small *ngIf="sprint.statusId === 1">(Status: To Do)</small>
                  <small *ngIf="sprint.statusId === 2"
                    >(Status: In progress)
                  </small>
                  <small *ngIf="sprint.statusId === 3"
                    >(Status: Completed)</small
                  >
                </div>
              </div>
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <div class="row" *ngFor="let story of sprint.stories">
                {{ story.storyName }}
              </div>
            </collapsible-body>
          </collapsible-list-item>
        </collapsible-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
